<section class="phx-hero">
  <style>
    #button-to-system {
      background: none;
      border: none;
    }

    #system {
      border: none;
    }
  </style>
  <h1><%= gettext "Bem vindo ao %{name}!", name: "Bank BB" %></h1>
  <button id="button-to-system">
    <a id="system" href="http://localhost:4906/contas/">Sistema de Conta Bancária</a>
  </button>
  <p>Para abrir uma conta bancária, atualizar ou apagar clique no botão acima para entrar no sistema!</p>
</section>
